<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390868631537-4gb78r3tj9519pif5s4dtk261h6o0tf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390868631537-4gb78r3tj9519pif5s4dtk261h6o0tf3</string>
	<key>API_KEY</key>
	<string>AIzaSyAJo-q4DuU3gree3zN2qPHW2j6Gi9WhGCI</string>
	<key>GCM_SENDER_ID</key>
	<string>390868631537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.coffeemanagement.coffecustomer</string>
	<key>PROJECT_ID</key>
	<string>coffeemanagement-80173</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeemanagement-80173.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390868631537:ios:7b343db1391534c9878e50</string>
</dict>
</plist>